# ===========================================================================
# packages
# ===========================================================================
/vendor/

# ===========================================================================
# jetbrains
# ===========================================================================
/.idea/

# ===========================================================================
# automated testing
# ===========================================================================
.phpunit.result.cache

# ===========================================================================
# dotenv
# ===========================================================================
/.env.local/
/.env.test.local/